
#brandName{
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 30;
    -fx-border-color: #ffff;
    -fx-font-style: bold;
}

#seachBox{
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 3px;
    -fx-background-color: dodgerblue,  white, white;
    -fx-font-family: "Roboto";
    -fx-font-size: 15;

}

#seachBox:focused {
    -fx-background-color: #FFFF;
    -fx-border-color: rgba(100, 100, 100, 0.3);
    -fx-border-width: 1px;
    -fx-background-color: dodgerblue,  white, white;
}

.button{
    -fx-background-color: #0D904F;
    -fx-border-radius: 10;
    -fx-font-family: "Roboto Medium";
    -fx-font-weight: medium;
    -fx-font-size: 14;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center-left;
}

@font-face {
    -fx-font-family: "Roboto Medium";
    font-family: "Roboto Medium";
}

*{
    -fx-font-family: "Roboto Medium";
}