
#brandName{
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 30;
    -fx-border-color: #ffff;
    -fx-font-style: bold;
}

#seachBox{
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 3px;
    -fx-background-color: dodgerblue,  white, white;

}

#seachBox:focused {
    -fx-background-color: #FFFF;
    -fx-border-color: rgba(100, 100, 100, 0.3);
    -fx-border-width: 1px;
    -fx-background-color: dodgerblue,  white, white;
}