
.text-field{
    -fx-font-family: Roboto;
    -fx-border-radius: 10;
    -fx-border-width: 5;
    -fx-font-size: 14;
    -fx-text-fill: #363535;
}

*{
    -fx-primary : #3367d6;
    -fx-secondary : #d6a233;
}
.root{
    -fx-background-color: #ffffff;
    -fx-font-family: Roboto;
}

#topPane{
    -fx-background-color: #3367d6 ;
}

#brandName{
    -fx-fill: #ffff;
    -fx-font-size: 25;
    -fx-alignment: center;
    -fx-font-family: Roboto;
    -fx-font-weight: Bold;
}

#edtEmail{
    -fx-border-style: none none dotted none;
}


#backBox{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.7), 9, 0, 0, 0);
    -fx-padding: 10;
    -fx-background-color: #ffff;
    -fx-background-radius: 0;
}

.button{
    -fx-background-color: #0F9C58;
    -fx-border-radius: 10;
    -fx-font-family: "Roboto Medium";
    -fx-font-weight: medium;
    -fx-font-size: 14;
    -fx-text-fill: #ffffff;
}

.button:hover{
    -fx-background-color: #005a2c;
}

.button:pressed{
    -fx-background-color: #c7125e;
}


#lbSendCode{
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14;
    -fx-underline: true;
    -fx-text-fill: #0f9c58;
}
